<h1>Post u liked it!</h1>
<ul>
 <% @articles.each do |article| %>
 <li>
 <%= article.name %> -
 <%= article.reactions.find_by(user_id: current_user.id).kind %>
 <p>
 <%= link_to "Show this post", article %>
 </p>
 </li>
 <% end %>
</ul>